#fb-profile, #fb-logout, #fb-feed, #fb-getPromotable-Posts, #fb-getPageFeed, #fb-getFeed, #fb-newPost-box {
  display: none;
}

.nameBox {
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
}

.nameBox h5 {
    margin: 0px;
    padding-bottom: 0px;
    border-top-width: 1px;
}

.panel-body p:first-child {
  padding-top: 10px;
}

.btn-primary {
  padding: 5px;
}

#fb-newPost-box {
  width: 360px;
  height: 295px;
}
    